.calc-row {
    height: 100vh;
    font-family: 'Share Tech Mono', monospace;
}

.input-window {
    text-align: end;
    font-size: x-large;
}

#calc {
    background-color: black;
}

.col {
    margin-bottom: 2px;
    margin-right: 2px;
}

#inputWindow {
    margin-bottom: 2px;
    margin-right: 2px;
}

.duplicateField {
    background-color: darkblue;
    color:chartreuse;
}
